[2022-05-04 22:15] dth2 commented on #550
I should also note that I still get the error when trying netdx for a dynamic simulation:
  |Error in UseMethod("%ergmlhs%") :
  no applicable method for '%ergmlhs%' applied to an object of class "NULL"

From: chad-klumb ***@***.***>
Sent: Wednesday, May 4, 2022 3:01 PM
To: EpiModel/EpiModel ***@***.***>
Cc: Deven T. Hamilton ***@***.***>; Mention ***@***.***>
Subject: Re: [EpiModel/EpiModel] Redu

[2022-05-04 22:53] chad-klumb commented on #550
The simulation calls are in the `netdx` function itself.

I'm not sure what package versions you're using; the following install stack should not have the problem you are decribing:

[code]

If it does, a minimal reproducible example would be helpful.

[2022-05-04 23:35] #671 closed

[2022-05-04 23:37] dth2 commented on #550
Thanks Chad, that stack solved that error an now generates:
Error in x$el[["na"]] : subscript out of bounds

From: chad-klumb ***@***.***>
Sent: Wednesday, May 4, 2022 3:54 PM
To: EpiModel/EpiModel ***@***.***>
Cc: Deven T. Hamilton ***@***.***>; Mention ***@***.***>
Subject: Re: [EpiModel/EpiModel] Reduce the size of netest object without compromising netsim (#550)

The simulation calls are in th

[2022-05-04 23:57] chad-klumb commented on #550
Do you have a reproducible example?

[2022-05-05 00:00] dth2 commented on #550
I am working on it. Going back through estimation and using the new trim_netest function to trim just in case the netest object was different when I made it using older versions of the packages. If that doesn’t work I will try to send you an example.

From: chad-klumb ***@***.***>
Sent: Wednesday, May 4, 2022 4:58 PM
To: EpiModel/EpiModel ***@***.***>
Cc: Deven T. Hamilton ***@***.***>; Mention **

[2022-05-05 00:01] chad-klumb commented on #550
Okay.

[2022-05-05 08:48] AdrienLeGuillou commented on #675
@smjenness : strangely this almost never happens

[code]

in reality it occured 16 times on the one of network where the edges were repeated on two consecutive step:

[code]

Note: the way `el_cuml` calculates the edgelist does not permit the distinction between an edge of length 2 and two consecutive edges of length one. I just know that the edges on the network 3 only exist for 1 step so when th

[2022-05-05 13:30] #654 closed

[2022-05-05 14:41] #680 closed

[2022-05-06 14:42] chad-klumb opened #687 "are heterogeneous dissolution diagnostics problematic for `netsim`?"
in the `netdx_heterodiss` branch, `print.netsim` may call `make_dissolution_stats` here:

https://github.com/EpiModel/EpiModel/blob/ed90431843c090a76cb74989a0e37b0b96211ed0/R/print.r#L215-L220

attributes affecting dissolution dyad type and dissolution rate may change over the course of the `netsim` simulation

in general I don't think we even retain the full attribute history

[2022-05-06 14:47] chad-klumb commented on #687
nevermind, this is addressed in #508; we're only supporting heterogeneous diagnostics in `netdx`

[2022-05-06 14:47] #687 closed

[2022-05-10 13:09] #508 closed

[2022-05-10 20:55] sgoodreau commented on #664
Resolved with commit 534014cd03413efb6d002ba28023674d14967646

[2022-05-10 20:55] #664 closed

[2022-05-10 20:59] sgoodreau commented on #651
Resolved with fa662cfe19161392c971b657c43ec55221e7e822

[2022-05-10 20:59] #651 closed

[2022-05-10 21:21] sgoodreau commented on #647
Conpleted with a series of commits in the netdx_heterodiss branch.  Will file a new issue now to remove in a later version.

[2022-05-10 21:21] #647 closed

[2022-05-10 21:25] sgoodreau opened #689 "Remove nodefactor from diss models in future release"
This functionality was deprecated starting with the merger of the netdx_heterodiss branch into main 56811b9dc20e88da5af2ea719ed2bece84592e63

[2022-05-10 21:26] sgoodreau commented on #661
Superceded by #684

[2022-05-10 21:26] #661 closed

[2022-05-10 21:30] sgoodreau commented on #322
Now that we're removing `nodefactor`, we shouldn't be turning around and adding `nodecov`!  I don't even remember now what my original use case was for this but it's long since passed.

[2022-05-10 21:30] #322 closed

[2022-05-10 21:39] sgoodreau commented on #459
I'm closing this issue because it contains at least different sub-issues, which are now each in different states:

1) adding printing/plotting for heterogeneous dissolution models: DONE as of today
2) updating error checking across the formation and dissolution models: superceded by #684, which will make this whole system more robust and flexible
3) adding in more complex dissolution models like c

[2022-05-10 21:39] #459 closed

[2022-05-11 18:29] smjenness commented on #459
Sounds great, thanks @sgoodreau. Exciting to see all these issues, some several years old, closed!

[2022-05-12 11:48] AdrienLeGuillou opened #690 "[Process exited 137] on `summary(nw ~ sociality(nodes = NULL), at = 1)`"
Hi,

I am porting a project from the CRAN version of the `statnet` packages to the master branches version.

On it we have the following call (simplified for this example)

[code]

where `nw[[2]]` is a `network` object created by the following call:

[code]

with `est` a 3 network `netest` object from `EpiModel`.

To make it work with the new `simulate` APIs, I replaced the call to create `nw` wit

[2022-05-12 13:24] AdrienLeGuillou commented on #690
These are 10k nodes networks, the strange thing is that with the old version of the packages, it takes less than a second and I don't even see a bump in memory usage.
So I don't now if the problem comes from a bad implementation on my end to fit the new `simulate` API or if it's a problem with the `sociality(nodes = NULL)` code.

[2022-05-12 13:45] AdrienLeGuillou commented on #690
Actually I may have been tested the previous version with a smaller network (it's not my project so I think I got mixed up somewhere)
With the full size one it is very memory intensive as well on this one.
Closing for now and will re-open if it's more than just my mistake.

Sorry for this

[2022-05-12 13:45] #690 closed

[2022-05-12 14:04] smjenness commented on #690
I wrote a wrapper function around tabulate that does the above more efficiently: EpiModel::get_degree. That can be substituted for summary(nw...) function above.

[2022-05-12 14:21] AdrienLeGuillou commented on #690
Ok that's working like a charm. RAM control is completely under control!
Thanks @smjenness

[2022-05-18 19:10] #549 closed

[2022-05-20 17:36] smjenness commented on #641
Closed with #642

[2022-05-20 17:36] #641 closed

[2022-05-20 17:53] smjenness commented on #323
@martinamorris : has there been any work towards this custom terms repo?

[2022-05-24 12:23] chad-klumb opened #694 "document meaning of print.netdx outputs"
related to #677

With `netdx_updates`, a typical (heterogeneous, multi-simulation) printout might look like

[code]

It should be explained somewhere in the documentation:

- what Sim Mean and Sim SD mean (exactly, including how zero edges / zero dissolutions are handled), and
- how to interpret row names (in particular, for duration and dissolution, `offset(edges)` corresponds to those edges not

[2022-05-24 12:35] chad-klumb opened #695 "`plot.netdx` with `type = "duration"/"dissolution"` errors with zero edges (of some dissolution dyad type)"
Similar problems with CRAN, `main`, and `netdx_updates` (CRAN requiring homogeneous dissolution to plot).

With `main` and `netdx_updates`, the code

[code]

produces on the last two lines

[code]

with traceback

[code]

Presumably the `NA/NaN` data generated by having zero edges (of some type) on some time step is not being handled correctly by `plot.netdx`.

[2022-05-24 15:26] sgoodreau commented on #694
(It's worth noting that it's OK for there to be added code here that is specific to each allowed dissolution model, given that there are only a few that are allowed).

[2022-05-24 15:48] chad-klumb commented on #694
The coefficient names are what's used in `netdx_updates`.  Other than possibly renaming `edges` and dropping `offset()`, I'm not sure how this could be made clearer, as the correspondence between a dyad and it's durational target is directly based on which of these `statnet`-defined change statistics is nonzero.  Any custom naming convention needs to work for arbitrary term arguments, and we quick

[2022-05-24 18:00] sgoodreau commented on #694
I recognizse that there's a trade-off here, and we need to think carefully about both generality and userability. I think renaming `edges` and dropping `offset` would both be good, relatively easy steps, given the set of diss models we support. But we should check in on this with @smjenness and @martinamorris.

[2022-05-24 20:52] smjenness opened #696 "Default arg for netest::keep.fit"
@chad-klumb : is it ok if we keep the default of netest::keep.fit to TRUE for now (perhaps changing in a later version)? If advanced users have not modified their initialization/net resimulation functions to use the formula method, then this introduces an error when the ergms are refit.

[2022-05-24 21:04] chad-klumb commented on #696
The default in `netest` can be changed to `TRUE`.  Note that this will keep the *entire* fit (not a stripped down version of it).

The point of additional arguments to `trim_netest` is to give the user greater control over what exactly is trimmed.  We don't *have* to give them that control, but it's nice to do so when it doesn't complicate things too much.

[2022-05-24 21:11] smjenness opened #697 "compatible network package version"
@chad-klumb I noticed that Carter published version 1.17.2 of network on CRAN a couple days ago. Is this version compatible with your networkLite work? Rebuilding EpiModel with this CRAN version results in a change in the networkLite exports

<img width="559" alt="Screen Shot 2022-05-24 at 5 09 09 PM" src="https://user-images.githubusercontent.com/2521570/170133033-6f100be0-44d8-4531-8fe7-726a30d6

[2022-05-24 21:14] smjenness commented on #696
Thanks. Do we need a `keep.fit` in `netest` at all? Why not only in `trim_netest` (with a keep.fit default of FALSE)?

[2022-05-24 21:17] chad-klumb commented on #696
If you don't mind calling an additional function to get rid of the fit then we can drop the `keep.fit` argument to `netest`.

[2022-05-24 21:22] smjenness commented on #696
I think that is conceptually simpler and more backwards compatible to have keep.fit only in trim_netest. I will implement this change...

[2022-05-24 21:23] chad-klumb commented on #697
No, I don't believe it is compatible.  I assume this is what Pavel was referring to in his email yesterday; the version of `network` pushed to CRAN does not include all the changes made since the previous release.

[2022-05-24 21:26] chad-klumb opened #698 "stochastic test failure in main branch"
The following test fails stochastically in `main`:

https://github.com/EpiModel/EpiModel/blob/f912380c8f2cad280e72663d10ce090fe8ef5f29/tests/testthat/test-netdx.R#L317-L363

At a glance the issue appears to be that some dissolution dyad type edge counts will occasionally hit zero, which causes plotting issues (similar to #695).

[2022-05-24 21:27] smjenness commented on #697
Got it, thanks

[2022-05-24 21:27] #697 closed

[2022-05-24 21:43] chad-klumb commented on #696
Sounds good.  Reminder to update the NEWS file accordingly.

[2022-05-24 22:16] chad-klumb commented on #694
If we do rename `edges`, I would go with something like `baseline`, `everything else`, or `all other dyad types`, since what falls into that category is defined by what fails to fall into any other included category.

[2022-05-24 22:20] sgoodreau commented on #694
OK, but note that we purpsefully don't allow all of the same complexity here that we allow in a regular ergm call - just 3 different models.  I believe it should always possible to determine which category is included in the baseline, and to name it as such, as the prior code did.  Let's talk about this on our call today, if @martinamorris is there.

[2022-05-24 23:23] chad-klumb commented on #694
We (me, Martina, and Steve) have tentatively agreed to call the "edges category" `baseline` in duration and dissolution tables, drop `offset()`, and leave the rest as-is in `netdx_updates`.

@smjenness Any thoughts?

[2022-05-25 16:07] smjenness commented on #694
Just to get a concrete example, here is the example in `?netdx`. First with the main branch:

[code]

And second with the `netdx_updates` branch:
[code]

[2022-05-25 16:24] chad-klumb commented on #694
Changing `edges` isn't required, and I agree that clear documentation should be added.

[2022-05-25 17:10] sgoodreau commented on #694
We went back and forth on the `edges` vs `baseline` distinction, recognizing strengths and weaknesses of both.  If you prefer `edges` then I agree that tips the balance.

Chad are you adding the documentation? I'm also happy to do it if desired.

And a reminder that we need to make a decision on #677 before this issue can be finished.

[2022-05-25 17:42] chad-klumb commented on #694
I can drop `offset()` and add documentation in `netdx_updates`.  (The meaning of Sim Mean and Sim SD may need to be updated after #677 is resolved.)

[2022-05-26 22:06] sgoodreau commented on #698
@chad-klumb I see you didn't assign anyone for this one or #695.  If you want to put me on it I'm happy to do so just tag me.

[2022-05-26 23:12] chad-klumb commented on #698
Thanks I will look into this a bit and follow up next week.

[2022-05-30 21:31] chad-klumb commented on #698
I started looking at this and #695 and I think it will be easier to fix these "well" if we first refactor the plotting code, which was already its own issue #662.  I've begun the process of refactoring in 5abdba54d4f225c40055d330bdb7ca2c0aa56088.  It will take a few more passes to get the remaining low-hanging fruit and clean up what's left; once that's done and tested we can finish addressing NA/

[2022-06-03 17:49] martinamorris commented on #697
Just to check -- is it important to get a compatible version of `network` released?

[2022-06-03 18:15] smjenness commented on #697
yes, I am unable to push EpiModel to CRAN until this gets resolved. @martinamorris could you help push on this?

[2022-06-03 18:30] martinamorris commented on #697
@smjenness we'll need to get Carter involved, and i'll  need a succinct summary of the changes that are needing to be pushed.  happy to chat if that's easier

[2022-06-03 18:51] smjenness commented on #697
@martinamorris : @chad-klumb should have all the relevant details here.

[2022-06-03 23:30] chad-klumb commented on #697
I'd recommend pushing from `master` unless there is a specific reason not to, as there are not just new generics needed by EpiModel but also some bugfixes for network itself.

[2022-06-14 10:38] chad-klumb commented on #677
made a branch off `plot_netdx_updates` that replaces Sim SD with the standard error in the mean (based on `coda::effectiveSize`)

this is available even if # of sims = 1, and allows for interpretation of the difference between the sim mean and the target in terms of z score

[2022-06-14 20:24] sgoodreau commented on #677
@chad-klumb : can you clarify some things here:

- Is this for all three diagnostics (formation, dissolution, duration)?
- Is it giving a single measure that includes both within- and across-sim variatioon? (I'm guessing yes, which is why it is available even when sims=1).
- And most importantly, how does it deal with both the non-imputed and the imputed durations? I don't see how a single measure

[2022-06-14 22:57] chad-klumb commented on #677
It is for all three.

The SE gives a single measure based on all the simulated data.  (For now, missing data for dissolution/duration are simply dropped; it may be possible to improve on that.)

The duration table prepared in `main` (and in the derived branches I made starting with `main`) always includes imputation:

https://github.com/EpiModel/EpiModel/blob/afa0910f690fc055c801eebc1bdf8e8727d71f

[2022-06-15 22:48] sgoodreau commented on #677
Oh, of course; sorry.

Cool.

Ok, all in all I agree that this is a nice improvement on what we have now.  That said, there was also a proposal on the table (woven through above comments) to split out the within- and across-sim variation. What are your thoughts on this, @chad-klumb? Would it be easy to do now that you're already deep in there?  Is there a technical reason we haven't thought of why

[2022-06-16 18:35] chad-klumb commented on #677
I favor reporting the SE over other measures of variation because the SE is informative as to the significance of the difference `Sim Mean - Target`.  Other measures of variation could in principle be reported but wouldn't correspond as closely to the rest of the table we print out.

[2022-06-16 21:06] martinamorris commented on #677
I agree that the SE is useful for capturing the variation in the estimate of the mean -- though its statistical interpretation depends on whether one knows the sampling distribution of the mean, and I'm not sure whether the sampling distribution of the netstats is known under all models.  Still, using it as a rule of thumb makes sense to me.  It would just be important to verify the sampling distr

[2022-06-17 15:08] chad-klumb commented on #677
Taking the estimate of the SE as the actual standard deviation of the sampling distribution of the mean, the p-value (whether one- or two-sided) is bounded above by one over the Z score squared, c/o Chebyshev's Inequality.

The SE is one measure based on all the simulated data and is sensitive to variation both within and between simulations.

[2022-06-17 16:23] martinamorris commented on #677
@chad-klumb that's a useful reminder, thx.  I thought the formula was p $\approx$ 1/(SE^2) rather than 1/(z^2).  The approximate p-value that Chebyshev's inequality gives can be quite conservative (larger) relative to the p-value from a Normal distribution, so if you know the CLT holds for your test statistic, you'd probably want to use the Normal distribution for significance testing.  But this d

[2022-06-17 20:03] #682 closed

[2022-06-18 20:40] chad-klumb commented on #677
In the near future, I can add (and document) columns in the stat tables for the statistic SD over the entirety of the simulated data, and (when nsims > 1) the SD across sims of the within-sim mean.

[2022-06-20 11:59] Pie923 opened #706 "Get transmission tree for simulations using observed network"
Dear developers, I have a question regarding getting transmission matrix using the Epimodel with observed network data. I am using the template in the [EpiModel-Gallery](https://github.com/EpiModel/EpiModel-Gallery/tree/master/2018-08-ObservedNetworkData). When I use 'get_transmat(sim, sim=1)', it always gives me an empty data frame. Why does this happen? Is there an alternative way to get informa

[2022-06-21 16:06] AdrienLeGuillou commented on #706
Hi @Pie923,

have you set the `save.transmat = TRUE` argument in `control.net`?

[2022-06-23 17:54] martinamorris commented on #677
This is looking really good.  Lots of info, should cover most user contexts now.

One q about naming for the SD:  it's not clear to me what the "1-" in  SD (1-Sim Mean) is referring to.  Maybe more clear to use SD (Mean)  and SD (Statistic)?

[2022-06-23 19:25] sgoodreau commented on #677
This is great, thanks.  I do find the names a bit unintuitive too, though.  `SD(1-Sim Mean)` is the standard deviation across runs, I assume?  And `SD(Statistic)` is the variation within runs?  If so, how does the latter handle the multiple runs - calculating the SD within each run and then averaging them? Or is it meant to be the total SD including variation both within and across runs?

Either w

[2022-06-23 20:23] chad-klumb commented on #677
1-Sim Mean refers to the mean of a single simulation; SD(1-Sim Mean) refers to the standard deviation of the 1-Sim Mean across all simulations performed

SD(Statistic) is the standard deviation calculated when pooling all simulated data for the statistic in question (every time step is weighted equally in the dynamic case; every sampled network is weighted equally in the static case)

I have nothi

[2022-06-23 20:58] martinamorris commented on #677
lol, ok, let me think on it a bit

[2022-06-24 22:47] chad-klumb opened #710 "stochastic vignette failure"
model-parameters.Rmd randomly fails with error message "polygon edge not found", e.g.

https://github.com/EpiModel/EpiModel/runs/7046147895?check_suite_focus=true#step:6:168

(line 166 in the link)

This isn't new, but we might want to consider addressing it.  (I've only seen it happen in the mac build for EpiModel.)

[2022-06-28 14:22] chad-klumb commented on #669
I was asked to open a discussion on this topic, but we already have issues #667 and #669, so I'm starting by posting here.  It looks like Adrien has already been assigned to these.

@smjenness do you have more specific information as to what exactly you want to support in core EpiModel regarding multiple networks, and/or who you want to do it?

[2022-06-28 14:39] chad-klumb opened #712 "handling zero edges in duration/dissolution data"
Currently (in `netdx_updates`, which I assume will get merged into `main`), if we have zero edges of some dissolution dyad type on some time step in `netdx` or `netsim`, we set the mean age and dissolution rate to zero for that dyad type on that time step.  This avoids generating errors when plotting and printing, but biases results towards zero.

While typical use cases will probably not be affec

[2022-06-28 14:59] chad-klumb commented on #712
The (default) Yule-Walker method of the `ar` function used by `coda::effectiveSize` does have an `na.action = na.pass` option that in principle can handle missing data, but it's not immediately clear if this is appropriate for our use case, and there's also no way to obtain that behavior from a call to `coda::effectiveSize` because `na.action = na.fail` is the default and `coda::effectiveSize` doe

[2022-06-28 15:50] chad-klumb opened #713 "stochastic duration plots from `netsim` objects"
As of `plot_netdx_updates`, we can obtain duration and dissolution plots from `netsim` objects when the dissolution model is homogeneous.  Currently, plotting duration from a `netsim` object produces stochastically varying results as corrections are imputed randomly for onset-censored ties each time `plot` is called.  This could be remedied by computing durational statistics once at the end of the

[2022-06-28 16:45] martinamorris opened #714 "Fix links to "tut" in EpiModel website"
One more step needed -- Sam pls see below

repo name: github.com/statnet/tut

* tut materials are in the docs/ folder

* GH pages set up to serve from the docs folder

* So you can reach the files at this address (for example):

        https://statnet.org/tut/BasicDCMs.html
                ^         ^
        (note, not statnet.github.io)

* Note that to make this work from statnet.org, I needed

[2022-06-28 16:50] martinamorris commented on #714
Actually, the links still seem to be working, so I think we can consider this task completed!

[2022-06-28 16:50] #714 closed

[2022-06-29 13:16] AdrienLeGuillou opened #715 "duplicated entry when loading params from data.frame"
when loading parameters from a `data.frame` if lines are duplicated (e.g. hiv.trans.scale_1 is defined twice) this can result in a wrongly sized param vector

[2022-06-29 17:15] chad-klumb commented on #669
In particular:

- are we allowing node sets to differ between networks, and
- are we allowing any number of dynamic (tergm model) networks and any number of static (ergm model) networks?

[2022-06-30 12:42] smjenness commented on #669
Hi Chad - I can outline the primary issues/requests here by early next week.

[2022-07-01 07:44] DamienGeorges opened #717 "termLite integration in EpiModel"
Hi,

We have implemented couple years ago now `EpiMetHeos` a HPV version of `EpiModel` based based on multiple sexual network (main, short-term and one-off partnerships) in a similar way than @smjenness did for `EpiModelHIV`.
Our code was using tergmLite functionalities, in particular `tergmLite::simulate_network` funciton to resimulate each individual network at each time step. Since (not so) rec

[2022-07-03 18:04] chad-klumb opened #719 "dropping parts of netsim object in merge.netsim"
isn't always recognized by other parts of the code, e.g. using `main` branch

[code]

errors on the final line with

[code]

because the check in `print.netsim` here

https://github.com/EpiModel/EpiModel/blob/0eba8dca04ee145d7a46db634ac4c1f9fca9a3fa/R/print.r#L208-L210

performed on `control$save.network` fails to account for the possibility that networks were saved at runtime but later dropped du

[2022-07-03 19:20] chad-klumb opened #720 "merge.netsim logic inconsistent for networks and transmats"
We only attach `network` to the merged `netsim` object `z` if `keep.network` is `TRUE` and both `x$network` and `y$network` are not `NULL`:

https://github.com/EpiModel/EpiModel/blob/0eba8dca04ee145d7a46db634ac4c1f9fca9a3fa/R/merge.R#L233-L243

Otherwise we set `z$network <- NULL`.

The `stats$transmat` field is handled differently:

https://github.com/EpiModel/EpiModel/blob/0eba8dca04ee145d7a46db

[2022-07-04 09:17] DamienGeorges commented on #717
I think I manage to make something up using `sim_nets_t1` and `resim_nets` functions.

[2022-07-04 09:17] #717 closed

[2022-07-04 15:08] Pie923 commented on #706
Hi @AdrienLeGuillou Thank you so much for your response and very sorry for my late reply.  Yes I set 'save.transmat =TRUE' argument and I still got same empty dataframe when using 'get_transmat(sim,sim=1)'. Any idea how to fix this?

Best, Li

[2022-07-04 15:19] chad-klumb opened #722 "simulation naming in `get_sims` and `merge.netsim`"
In `merge.netsim` we rename the `y` sims to be `paste0("sim", new.range)`, while in `get_sims` we do not rename sims.  This can lead to repeated sim names, e.g.

[code]

produces

[code]

The two `"sim3"`s in the final object are actually different sims (original sims 3 and 2, in that order).

For consistency I think we should either preserve the original names in both `get_sims` and `merge.netsim

[2022-07-04 17:10] AdrienLeGuillou commented on #706
Can you make a small example that I could run on my machine so I can pin point where the problem is

[2022-07-04 18:08] Pie923 commented on #706
I am using the example code in the Epimodel Gallery/2018-08-ObservedNetworkData. For reference, I made this example here(mainly copied from the example code) https://github.com/Pie923/Epimodel/blob/main/get_transmat_example.R
Thank you so much and let me know if you can't access the code.

[2022-07-05 07:27] AdrienLeGuillou commented on #706
Found the problem!

`set_transmat` was never called in the infection module. In [this block](https://github.com/Pie923/Epimodel/blob/main/get_transmat_example.R#L91-96) you can replace with:

[code]

[2022-07-07 07:54] AdrienLeGuillou commented on #722
I agree with the second option.
Looking into the code, I am pretty sure `get_sims` and `merge.netsim` do not play well with the random parameter system and potentially with the scenarios. But that's already the case and would not be more problematic if the sims are named `paste0("sim", seq_len(nsims)`. I'll open a separate issue about it

[2022-07-07 07:56] AdrienLeGuillou opened #724 "`get_sims` and `merge.netsim` may not play well with random parameters and scenarios"
Because the random parameter values used by each simulation are nested inside `dat$param`, they probably are not properly updated when using `get_sims` and `merge.netsim` as they can modify the order of simulations. It is potentially the same thing with scenarios (not sure).

[2022-07-07 14:37] smjenness opened #725 "Remove statnet/tut repository"
@martinamorris and @mbojan: I have updated the links to all the web-based EpiModel tutorial files to hosting on the epimodel.org site directly (which gets published under the `gh-pages` branch here). So I believe you can close the github.com/statnet/tut repository. I actually do not have access to that, so I can't see what else is up there.

[2022-07-07 14:49] smjenness commented on #720
@chad-klumb : thanks, that is a good find. I will merge the associated PR.

[2022-07-07 14:57] smjenness commented on #706
That would appear to be solution. @Pie923 if you have any further problems, feel free to reopen this issue.

[2022-07-07 15:02] #715 closed, assigned to AdrienLeGuillou

[2022-07-07 15:08] AdrienLeGuillou commented on #710
For ref:

The issue is probably related to a `ggplot` call. This thread seems to depict a similar problem:
https://community.rstudio.com/t/build-failure-for-check-release-workflow/107368/3

[2022-07-07 15:09] #720 closed

[2022-07-07 17:48] smjenness commented on #725
Yes, everything has been moved over as needed.

[2022-07-07 17:54] martinamorris commented on #725
Great, thx @smjenness.

[2022-07-07 18:08] chad-klumb commented on #722
Okay, I'll implement the second option soon.

[2022-07-07 18:18] chad-klumb commented on #710
fwiw, this error just happened in the PR build for #693:

https://github.com/EpiModel/EpiModel/runs/7238793829?check_suite_focus=true#step:6:157

[2022-07-07 19:03] smjenness commented on #710
Fixed with 0e6eb14f220b89e0f5db9d13ad293da3dd7fc0b7

[2022-07-07 19:03] #710 closed

[2022-07-08 13:25] chad-klumb commented on #695
closed by #693

[2022-07-08 13:25] #695 closed

[2022-07-08 13:25] chad-klumb commented on #698
closed by #693

[2022-07-08 13:25] #698 closed

[2022-07-08 14:51] smjenness opened #726 "Status of commented code in networkLite.R"
@chad-klumb : you have a bit of commented out code in networkLite.R now that was just picked by lintr. What is the status of this code and if not used, can it be removed or moved elsewhere (e.g., a temporary file in `inst/`). Thanks!

[2022-07-08 14:57] smjenness opened #727 "address potentially unused variables in netsim files"
@AdrienLeGuillou I believe these are your new functions. Can you address these two unused variable issues found by lintr?
<img width="683" alt="Screen Shot 2022-07-08 at 10 55 43 AM" src="https://user-images.githubusercontent.com/2521570/178017815-8bf89082-124d-441b-8cc3-144edb870e74.png">

[2022-07-08 14:58] smjenness commented on #727
Changes can go on the `cosmetic-lintr` branch.

[2022-07-08 15:10] #713 closed

[2022-07-08 15:27] chad-klumb commented on #457
closed by #702

[2022-07-08 15:27] #457 closed

[2022-07-08 15:28] chad-klumb commented on #719
closed by #723

[2022-07-08 15:28] #719 closed

[2022-07-08 16:01] chad-klumb opened #730 "forgot to handle diss.stats in get_sims"
I somehow neglected to add this or push it to github.  Will do so (and add a test) now...

[2022-07-08 16:13] #726 closed, assigned to chad-klumb

[2022-07-08 17:42] #730 closed, assigned to chad-klumb

[2022-07-10 14:35] chad-klumb opened #733 "attach sim names to `save.other` lists?"
Currently we attach sim names `"sim1", "sim2", ...` to "built-in" `netsim` object fields that have one entry per sim, e.g. `network`, `stats$transmat`, etc.

We do not currently attach these sim names to `save.other` lists on the `netsim` object even though they are also structured as having one entry per sim.

Is there any reason to not add sim names in the `save.other` case?

example of current

[2022-07-11 02:25] chad-klumb opened #734 "question about transmat sim naming in saveout.R"
In `main` we attach sim names to some `netsim` fields here:

https://github.com/EpiModel/EpiModel/blob/90cfb6c066000b58ef1b8fd7938cdfeb297bf285/R/saveout.R#L330-L366

The `transmat` case jumps out in that the `simnames` are subset by `seq_along(out$stats$transmat)`.  Glancing at the rest of `saveout.net` it's not clear to me how this could ever be needed; if `dat$control$save.transmat == TRUE`, th

[2022-07-11 13:20] smjenness commented on #733
I don't see any reason not to add this.

@AdrienLeGuillou what do you think?

[2022-07-11 13:22] smjenness commented on #734
@AdrienLeGuillou : please provide input to this.

[2022-07-11 13:23] #722 closed

[2022-07-11 14:28] chad-klumb opened #735 "handle formation, dissolution, and duration stats tables as one case in the backend"
Currently there are both `make_formation_table` and `make_dissolution_stats` functions in `netdx.R`.  These have three implementations of basically one calculation to obtain the stats table for formation, dissolution, and duration statistics.  It should be possible to combine them, possibly restructuring how the simulated data is stored for greater consistency across cases.

This should probably b

[2022-07-11 14:48] chad-klumb opened #736 "parallelize remaining bits of stat calculations in netdx"
Basically the last vestiges of #490.  Unlikely to make a big difference in runtime except in very unusual cases.

In the current state of `standardize_sim_sd`, this could include moving up the `effectiveSize` calculations and possibly certain sums or sums of squared deviations for mean and sd calculations.

Should probably be done in tandem with #735.

[2022-07-11 14:55] chad-klumb opened #737 "should we print duration table from netsim object when it is available?"
In `print.netdx` we print both the duration and dissolution tables when they are available:

https://github.com/EpiModel/EpiModel/blob/22adcf11e8633c29a3d6754fa19d08e22c12ec7d/R/print.r#L147-L156

In `print.netsim` we only ever print dissolution:

https://github.com/EpiModel/EpiModel/blob/22adcf11e8633c29a3d6754fa19d08e22c12ec7d/R/print.r#L249-L276

Should this be changed to also print duration in

[2022-07-11 16:04] smjenness commented on #727
Appears to be ok to remove as in [d231096](https://github.com/EpiModel/EpiModel/commit/d231096216dc828eec933985e67145dc89dbc23c).

[2022-07-11 16:04] #727 closed

[2022-07-11 18:14] smjenness commented on #656
@chad-klumb : could I ask you to tackle this low hanging fruit for the EpiModel v2.3 release? Let me know if you have any questions on implementation.

[2022-07-11 18:19] smjenness commented on #676
Closed by #702

[2022-07-11 18:19] #676 closed

[2022-07-11 18:26] smjenness commented on #737
Yes, I think it would make sense to include both the duration and dissolution tables in `print.netsim`, consistent with `print.netdx`. @sgoodreau : do you foresee any issue here (e.g., weird censoring issues that could complicate interpretation of duration diagnostics in an open population sim... )

[2022-07-11 19:00] chad-klumb commented on #656
Specifically, removing `directed`, `bipartite`, etc. arguments to `network_initialize`?

[2022-07-11 19:23] smjenness commented on #656
Correct

[2022-07-12 03:00] #656 closed

[2022-07-12 15:13] #733 closed

[2022-07-12 15:48] AdrienLeGuillou commented on #734
I think I agree with @chad-klumb.
This part is a remnant of some old logic that was handling `transmat` saving differently. Theoretically if `transmat == TRUE` then all simulations have one. Also, if it's not the case the code still is misleading as the Nth transmat is not necessarilly the one from the Nth simulation

[2022-07-12 15:51] chad-klumb commented on #734
Thanks, I've opened a PR to close this issue.

[2022-07-12 16:05] chad-klumb commented on #632
added a couple NEWS notes in #742

[2022-07-12 17:52] #734 closed

[2022-07-13 09:41] AdrienLeGuillou commented on #632
done for me

[2022-07-13 13:19] chad-klumb commented on #694
documentation was added in #693

it will likely be updated in #705

[2022-07-13 19:20] chad-klumb commented on #677
change SD(1-Sim Mean) to SD(Sim Means)

leave SD(Statistic) as-is for now

check documentation is clear

[2022-07-13 20:53] sgoodreau commented on #737
There are a host of feature-not-bug reasons why durations from `net.sim` would not match the original target values, once one adds in full simulation dynamics.  For instance, see https://github.com/EpiModel/EpiModelHIV-p/issues/23#issuecomment-1183567633. This is somewhat analogous to examples like the seroadaptive example in NME where overall mean degree changes with epidemic expansion.  So as a

[2022-07-13 21:36] martinamorris opened #743 "Better documentation for tergm control settings"
The documentation on the control settings leaves much to be desired. This could be improved with a vignette or separate standalone help page in the package.

Here is the tortuous current path:

The `set.control.tergm` function can't be queried directly:

`?EpiModel::set.control.tergm` and the `??` version both come up empty

`?EpiModel::netest` points to `tergm::simulate.network` and

`tergm::simu

[2022-07-14 02:01] martinamorris commented on #737
Agree with all that @sgoodreau said.  It seems like the value of including the duration table is

1. To see how long duration takes to burn in, in case the mean duration dist'n is something that you're relying on for further analysis.

2. To make sure it does eventually hit the target.  If it doesn't that might be useful information for understanding something that you didn't expect.

Is there any

[2022-07-14 16:51] sgoodreau commented on #737
And as long as we only allow time-non-varying dyadic independent dissolution models in EpiModel, MAOET should always be able to tell you in the shorter run where durations are heading in the longer run.

[2022-07-14 17:28] martinamorris commented on #737
Maybe this makes the point.  I think it's confusing to use the term "duration" for active tie age.  We've been pretty sloppy in our terminology (probably b/c we've been so focused on the simple exponential mean).  But as you get into modeling tie length, these terminological distinctions become important.  This is a bit like calling the nodal age variable life expectancy.  Admittedly, "duration" c

[2022-07-15 14:12] smjenness commented on #725
@martinamorris : is this issue closable now?

[2022-07-15 16:48] sgoodreau commented on #737
I have lots of thoughts on this issue, and not the time at the moment to lay them all out [ed: OK by the time I finsihed the comment I'd laid out more than I epxected to, but without going into details of justification].  I agree with Sam that this is a much bigger question than this issue and should be moved to a new issue or discussion, and not hold up the release of these improvements to EpiMod

[2022-07-15 17:22] chad-klumb commented on #737
I'll make a PR for this soon.

[2022-07-15 18:56] martinamorris commented on #725
Yes -- the repo was deleted.

[2022-07-15 18:57] martinamorris commented on #677
Yes -- it would involve a change, and I'd like to discuss with you and @sgoodreau first.

[2022-07-15 19:00] martinamorris commented on #737
Will move the terminology question to a new issue.  @sgoodreau I agree that the mean age of active ties is the key metric for `netdx` purposes.  But as Emily's dissertation issues revealed, the duration of completed ties is also important to understand.

[2022-07-15 19:03] martinamorris opened #745 "Consider deprecating our use of the term "duration" for age of active ties"
conversation originally started in #737.  @sgoodreau pls. copy over your comment so it stays connected to your id.

Maybe this makes the point. I think it's confusing to use the term "duration" for active tie age. We've been pretty sloppy in our terminology (probably b/c we've been so focused on the simple exponential mean). But as you get into modeling tie length, these terminological distinction

[2022-07-15 19:09] #725 closed

[2022-07-15 19:11] smjenness commented on #677
@martinamorris : sounds good. I'll merge in @chad-klumb's changes from #705 when complete, and you can propose further edits in a new branch/PR.

[2022-07-16 02:21] chad-klumb opened #747 "print.netsim lacks a documentation entry"
It might be good to add one.

Either this or the documentation entry for `netsim` itself could be a good place to address Steve's concern in #737:

[2022-07-17 03:55] chad-klumb opened #748 "standardize R file extension capitalization?"
Most are `.R` but two are `.r`.

[2022-07-17 23:54] #748 closed

[2022-07-18 00:05] smjenness opened #750 "Remove nolint tags when next version of lintr is published"
@AdrienLeGuillou : I bet you know the answer to this one. `lintr` picks up a "no visible binding" issue, like below:

<img width="643" alt="Screen Shot 2022-07-17 at 8 01 42 PM" src="https://user-images.githubusercontent.com/2521570/179430202-cdc7098f-4f26-49b9-9ecb-85640fd01918.png">

in all cases in EpiModel with we use the `with` function to extract columns from data frames (it is also picked u

[2022-07-18 02:42] #737 closed

[2022-07-18 17:27] sgoodreau commented on #745
Copied over from #737:

I have lots of thoughts on this issue, and not the time at the moment to lay them all out [ed: OK by the time I finsihed the comment I'd laid out more than I expected to, but without going into details of justification]. I agree with Sam that this is a much bigger question than this issue and should be moved to a new issue or discussion, and not hold up the release of these

[2022-07-19 02:26] smjenness commented on #750
Ignored for now with `# nolint` tags in the scripts. Keeping this issue open in case the lintr team fixes this issue at some point.

[2022-07-19 19:21] smjenness opened #752 "EpiModel Checklist: v2.3.1"
**Periodically (not every release)** 📆
- [ ] Run code coverage analysis using `covr::report(package_coverage())`
- [x] Delint package with `lintr::lint_package`.

**Before publishing on CRAN** 🔨
- [x] Do a global find for `TODO`. Update as necessary.
- [x] Run tests on linux, windows, and mac using `rhub::check_for_cran(show_status = FALSE)`
- [x] Check all URLs with `urlchecker::url_check()`
- [x

[2022-07-19 19:21] #632 closed

[2022-07-20 19:59] #673 closed

[2022-07-20 20:59] smjenness commented on #667
I am going to close this issue because it overlaps with #669. Please follow the discussion there.

[2022-07-20 20:59] #667 closed

[2022-07-20 21:14] smjenness commented on #669
Some summary notes following our Zoom discussion today.

1. We would like to implement a somewhat general version of multi-layer networks into core EpiModel, following the approach of EpiModelHIV as a general template. For our purposes, multi-layer networks means the same node set but different edge sets in each layer.
2. The starting point for this would be to wrap network initialization and simu

[2022-07-21 19:04] smjenness commented on #669
Related, as noted, in https://github.com/EpiModel/EpiModelHIV-p/issues/141, we may want to revisit specifying the `nwstats.formula` argument for multi-layer networks.

[2022-07-22 00:02] chad-klumb opened #755 "handling of extremal target stats"
There are a few places in EpiModel where a target stat being non-extremal is treated as equivalent to it being > 0:

https://github.com/EpiModel/EpiModel/blob/7a3dc83197c5398044a2688c2182be2733a5d4d3/R/netdx.R#L300-L303

https://github.com/EpiModel/EpiModel/blob/7a3dc83197c5398044a2688c2182be2733a5d4d3/R/plot.R#L2041-L2045

https://github.com/EpiModel/EpiModel/blob/7a3dc83197c5398044a2688c2182be27

[2022-07-27 17:55] smjenness opened #756 "trackers module should always run at end of time step"
Because `trackers.FUN` is implicitly defined, it could run in some unintended order in case there are several extension modules passed. We should always execute this module at the end of the time step, unless there is an explicit override with `module.order` in `control.net`. This default should also work automatically with EpiModel extension packages like EpiModelHIV.

[2022-07-27 19:55] smjenness opened #757 "Standardization of nwstats initialization and updating code"
As detailed here (https://github.com/EpiModel/EpiModelHIV-p/pull/147), there has been some discrepancy in how the lists of nwstats are initialized and saved across core EpiModel and extension packages. There are different methods used if tergmLite is used, which may not be necessary. @AdrienLeGuillou additionally suggested that we could gain some efficiency if we stored all the nwstats in lists du

[2022-07-27 19:56] smjenness commented on #757
@AdrienLeGuillou Could you remind us the name of the tidyverse function to rbind lists efficiently?

[2022-07-28 01:11] smjenness opened #758 "Default of nwstats.formula in multi-layer networks"
This is currently an issue in extension packages (HIV, COVID) only, but probably should be handled here. With multi-layer networks, it is necessary to explicitly define the `nwstats.formula` for each layer as:

[code]

for each layer. Nearly always we would like to use the main ERGM formula used in the model, so we input `"formation"` on the right hand side. Could this default in single layer netw

[2022-07-28 20:17] AdrienLeGuillou commented on #757
The function is `dplyr::bind_rows`

[2022-07-29 08:19] AdrienLeGuillou commented on #756
Do you think it should still be treated as a normal module where we would enforce it's `module.order` or should we go more with a `verbose.net` or `updater.net` approach where its order is hard-coded?

I tend to favor the second approach as manipulating `module.order` can be a bit more complex but both options are feasible.

[2022-07-29 13:49] smjenness commented on #756
Fine with me to hard code (option 2). I can't imagine a situation where it would not run last. So ignore my comment above about an override with module.order. Thanks!

[2022-07-31 21:59] chad-klumb opened #759 "consider removing `init_tergmLite`"
The (few) essential bits of it could be absorbed into `initialize.net`.  This has already been done in the `simnet_updates` branch, but we will want to discuss those changes as a whole at a later date.

Note that `EpiModelHIV` will need to be updated accordingly.

[2022-07-31 22:12] chad-klumb opened #760 "consider removing `sim_nets_t1`"
IIRC this was originally introduced to facilitate the "list of networks" approach to simulating an `ergm` in `netsim` (which has since been replaced by `tergm` simulation with `networkDynamic`s).  Much of `sim_nets_t1` is redundant with `resim_nets`, and the initial `ergm` simulation (which is not redundant with `resim_nets`) could be moved into `initialize.net`.  Some small tweaks may be needed e

[2022-07-31 22:55] chad-klumb commented on #757
Initialization should be extremely simple, if it is needed at all (i.e., it may be possible to write the code in such a way that a `NULL` initial value works correctly with the general one-timestep update).

To work with either one or multiple networks, producing end-of-timestep statistics, updates to nwstats will need to be obtained through `summary` calls after all the `simulate` calls and corre

[2022-08-01 13:27] chad-klumb commented on #760
I'm inclining more towards refactoring rather than removing `sim_nets_t1`; this may also allow more code sharing with EpiModelHIV.  Basically, starting with the `remove_deprecated` branch for simplicity, this block of code

https://github.com/EpiModel/EpiModel/blob/698f99fc9c3a255673dd9b28cdb6652f7edf6b2d/R/net.mod.simnet.R#L52-L105

would be generalized and pulled out into a separate function, ta

[2022-08-01 15:50] chad-klumb commented on #669
will be working on this in the form of various other issues/PRs for the time being

[2022-08-01 16:54] chad-klumb commented on #662
Refactoring of formation, dissolution, and duration plotting for `netsim` and `netdx` was done in #702, saving ~1000 lines of code.

There is a nontrivial amount of redundancy remaining in other plotting functionalities (in plot.R).  It may be possible to save another (very roughly) ~500 lines of code by settling on a unified approach to plotting things that could also be applied to these "other"

[2022-08-05 00:10] smjenness commented on #677
@martinamorris I believe you had further edits with the PR associated with #705. If so, could you submit those in the next week? If they don't make it in by then, I'll merge this PR and you can feel free to open up a new issue/PR with further edits. Thanks!

[2022-08-05 00:13] sgoodreau commented on #677
Martina and I are meeting on Monday to discuss her ideas around this.

[2022-08-05 00:21] smjenness commented on #760
Somewhat related to #757

[2022-08-05 00:25] smjenness commented on #757
Sounds great. Yes, I would like to discuss whether we need end-of-timestep stats at the next meeting.

[2022-08-05 00:27] smjenness commented on #758
I like that idea of the multilayer class.

[2022-08-05 00:30] smjenness commented on #662
Thanks! I am content with closing this issue now, given all the work in #702. The other redundancies across other model classes are outside the scope of our current work.

[2022-08-05 00:30] #662 closed

[2022-08-09 16:49] chad-klumb opened #764 "is it allowed to initialize a netsim run from a netsim object when `start == 1`?"
In `crosscheck.net` we appear to allow this in the following check:

https://github.com/EpiModel/EpiModel/blob/8755c1e2eca75c9990a1e8cb0b4588e37eeaedf6/R/net.inputs.R#L1066-L1072

but some of the code that follows in `crosscheck.net`, as well as code in `initialize.net`, appears to assume a `netest` object when `start == 1`.

[2022-08-15 18:10] #677 closed

[2022-08-17 12:48] chad-klumb commented on #736
closed by #754

[2022-08-17 12:48] #736 closed

[2022-08-17 12:49] chad-klumb commented on #735
closed by #754

[2022-08-17 12:49] #735 closed

[2022-08-17 18:29] moxboxwa commented on #677
@chad-klumb I'd like to clarify one thing here, and reopen this issue if my understanding is correct.  What I'd like to clarify is the relationship between the Sim SE and the SD(Sim Means).

From the netdx output and documentation:

IIUC, we are reporting two different estimates of the SEM here:

* the `Sim SE`, which is based on the pooled data and the ESS.  This can be used even with a single si

[2022-08-17 18:30] martinamorris commented on #677
@chad-klumb I'd like to clarify one thing here, and reopen this issue if my understanding is correct.  What I'd like to clarify is the relationship between the Sim SE and the SD(Sim Means).

From the netdx output and documentation:

IIUC, we are reporting two different estimates of the SEM here:

* the `Sim SE`, which is based on the pooled data and the ESS.  This can be used even with a single si

[2022-08-17 20:23] smjenness commented on #677
@martinamorris : as discussed, please file a new issue regarding future revisions of these statistics. Thanks!

[2022-08-25 13:28] smjenness commented on #764
I believe it would be always be expected that a netest object would be used for start = 1 and a netsim object would be used for start > 1.

@AdrienLeGuillou : any difference of opinion?

[2022-08-25 13:32] AdrienLeGuillou commented on #764
@smjenness I agree. So far netest object are only used before the creation of `dat` at time = 1. Afterwards we either use `dat` or a netsim object in case of a restart

[2022-08-25 20:18] chad-klumb opened #767 "location of call to update_cumulative_edgelist in EpiModel vs. EpiModelHIV"
In core `EpiModel@main`, the function `update_cumulative_edgelist` is called in `nwupdate.net` here:

https://github.com/EpiModel/EpiModel/blob/6616af2d3f18dc466dbcbb264cb32d3d43d0b537/R/net.mod.nwupdate.R#L95-L105

In `EpiModelHIV-p@main` it is called in `simnet_msm` here:

https://github.com/EpiModel/EpiModelHIV-p/blob/e8b6f16b2bde3c7485170e0e412fd23bcac620be/R/mod.simnet.R#L113-L117

In the int

[2022-08-31 11:39] AdrienLeGuillou commented on #767
I think it was put in `nwupdate.net` in core as all calls that has to be run after the network simulations were there. I see no reason to put it in `resim_nets`. As long as it's run after the simulation themselves all is good.

[2022-08-31 11:43] AdrienLeGuillou commented on #756
fixed by #761

[2022-08-31 11:43] #756 closed

[2022-09-06 22:35] ThomasKraft opened #771 "set_transmat no longer appending?"
More recent updates have broken some EpiModel code of mine, which I have traced to an error coming from a call to `set_transmat()`. In the old form, this function was useful because it would `rbind` new cases to `dat$stats$transmat`. Looking at the function, it appears to have changed quite alot. At first I thought this was likely to have stemmed from #564 and #563, but the changes implemented in

[2022-09-06 23:02] ThomasKraft commented on #771
My apologies, I see that this was largely a result of not realizing how the `padded_vector` function was working, combined with a related error that has to do with manual modifications to `dat$stats$transmat` that was the true cause of the error.

[2022-09-06 23:02] #771 closed

[2022-09-07 17:41] ThomasKraft opened #772 "error in saveout.net upon netsim completion"
Running simulations with custom modules completes all timesteps, but then errors out with message 'Error in tedgelist[, c(1L, 3L, 4L), drop = FALSE] :  subscript out of bounds'. Calling `traceback` reveals the following:

[code]

I am struggling to get the debugger to step into these functions so am having a hard time diagnosing the problem, even though it's clear that the issue arises on this lin

[2022-09-07 18:00] chad-klumb commented on #772
Can you confirm that dat$nw is a list of networkDynamics and not ordinary networks (or networkLites)?  debug(saveout.net) should work.

[2022-09-07 18:14] ThomasKraft commented on #772
debug(saveout.net) doesn't seem to work for me.  Probably user error, can you clarify how to use here?

That said, if I use browser() to get as close as possible in my custom modules, then dat$nw is a list but dat$nw[[1]] is an ordinary network object, not networkDynamics.

[2022-09-07 18:19] ThomasKraft commented on #772
Perhaps worth noting that this is a duration=1 model, but at timestep 5 I'm seeing that length(dat$nw) == 1. Shouldn't dat$nw be a list of 5 ordinary network objects at that point?

[2022-09-07 18:29] ThomasKraft commented on #772
Yes `control$tergmLite = FALSE` in control.net.  But my impression was that I should be using `set.control.ergm` if my dissolution model specifies a duration of 1. Are you referring to `set.control.ergm` instead of `set.control.tergm` when you say that I'm running it using `network`s instead of `networkDynamics`s (or are you referring to duration =1 models more generally)?

[2022-09-07 18:30] chad-klumb commented on #772
The list of networks approach to duration 1 models was removed awhile ago.  Both CRAN and main use `tergm` simulation to generate `networkDynamic`s in this case.

You can skip the code generating the particular error you cited in the OP by setting `control$save.diss.stats = FALSE`, but there is no guarantee that everything else will work.  I would transition to the method used by core EpiModel if

[2022-09-07 18:38] ThomasKraft commented on #772
This makes sense because my modules were built when the list of networks approach was implemented. Does this mean that referencing the network at any given step in the model is no longer done via `dat$nw[[1]]`? For example, if I wanted to modify an attribute at a given timestep, could I no longer do:

[code]

Or more practically speaking, could you help me understand where my code is liable to be

[2022-09-07 19:41] chad-klumb commented on #772
If you're running `netsim` in core EpiModel with `tergmLite = FALSE` then after initialization `dat$nw[[1]]` will be a `networkDynamic` with the full simulation history in it.  (This should already be familiar from duration > 1 models with `tergmLite = FALSE`; it's the same now whether duration = 1 or duration > 1.)  You can get and set attributes, etc. just as you would for any other `networkDyna

[2022-09-07 20:30] ThomasKraft commented on #772
This is helpful, thanks.  I see that the key behavior occurs in the resim_nets function that I have a modified version of from the older codebase that used a list of static networks. Modifying that function to be in line with core EpiModel  introduces new errors ("Error in lttails[w2] <- ltheads[w2]") but at least now I know that my problems are tied to building all my modules around the older ver

[2022-09-07 20:59] chad-klumb commented on #772
If you have a reproducible example I can try and help isolate the problem.

[2022-09-07 21:07] chad-klumb commented on #772
I would also note that calling `sim_nets_t1` from `initialize.net` is an important part of the network setup:

https://github.com/EpiModel/EpiModel/blob/331413420039ad4e6a9dd4a6f1989bad56053d1a/R/net.mod.init.R#L19-L36

[2022-09-07 21:10] ThomasKraft commented on #772
I think `initialize.net` is working as expected because until my first resim_nets step the dat$nw object appears to be an appropriate list of dynamicNetworks. Trying to see if I can turn what I have into a reasonable MWE now.

[2022-09-12 01:21] smjenness opened #774 "Hard code variable for number of networks stored on dat"
Similar to storing `at` on dat, as happens with the network initialization? Rather than calculating each time by looking up the length of various network objects.

[2022-09-14 21:32] ThomasKraft opened #776 "constraint not working in resimulation step"
The MWE below demonstrates this issue. Given a hard constraint specified on ties within groups (vertex attribute), models behave as expected in producing only ties within groups. When a perturbation is added to the network attribute for groups in a duration = 1 model, my expectation is that during network resimulation ties would once again be restricted to the newly assigned groupings. Tracking th

[2022-09-14 22:51] chad-klumb commented on #776
The `blocks` constraint fixes the edge state of specific dyads: from `?InitErgmConstraint.blocks`:

If you scramble the group attribute but leave the edges alone, you will introduce ties between groups.  If the `blocks` constraint fixes the edge state of ties between groups, those ties will not dissolve in the next simulation step.  If you want to scramble the group attribute and not have ties bet

[2022-09-14 23:26] ThomasKraft commented on #776
Thanks @chad-klumb, this definitely solves it. Before closing this, can you just verify that the following is a reasonable approach for removing between group ties (section headed with "remove between-group ties")?

[code]

[2022-09-15 13:33] chad-klumb commented on #776
I see the change to `time.offset` in 747a869d085f2ca0fbba7c2c166da9a01bb0ca1b makes this sort of thing awkward, which might be a good argument for using `time.offset = 0` in `netsim`.  I've put up the `EpiModel@time_offset` branch, which uses `time.offset = 0` instead of `time.offset = 1`.  With that branch, I would use the following code:

[code]

[2022-09-16 20:18] ThomasKraft commented on #776
The EpiModel@time_offset branch is working great for this purpose. I will use that for now but would be curious how something like those changes could be integrated into a user option in the future (so that the functionality continues to be available with future EpiModel updates).

I'll also just note for posterity that in a model with demographic departures, adding `retain.all.vertices=TRUE` to t

[2022-09-17 00:08] ThomasKraft opened #778 "possible bug in `edges_correct`"
`edges_correct` wasn't behaving as expected, and I've conducted a basic test using one of the EpiModel tutorials with demography to confirm that `dat$nwparam[[1]]$coef.form[1]` does not appear to be modified after departure of nodes. The MWE here simply modifies the `resim_nets` function from github with an epi tracker before and after the call to `edges_correct`. At the very end you can see that

[2022-09-19 16:58] chad-klumb commented on #778
At a glance it looks like it is a bug.  I am also somewhat curious about the use of `onset = at` for node/edge activations/deactivations in `nwupdate.net`; the network at time `at` has already been simulated, and these modify edges/nodes at that already-simulated time.

It would make more sense to me to treat the active set of nodes at time `at` as whatever is fed into `simulate` when `resim_nets`

[2022-09-19 17:08] ThomasKraft commented on #778
Of possible relevance, I am using the EpiModel/time_offset branch as per my need to have `time.offset = 0`, but I don't this changes the outcome.

[2022-09-19 17:09] ThomasKraft commented on #772
This issue was fixed by bringing all modules in line with updated EpiModel code.

[2022-09-19 17:09] #772 closed

[2022-09-19 17:29] chad-klumb commented on #776
I think a single time scheme for `networkDynamic`s would be preferable (changing it can affect the behavior of other modules).  In light of this example I am inclining towards `time.offset = 0`, but the decision could bear some more thought.

[2022-09-20 12:08] chad-klumb commented on #778
I've updated the `time_offset` branch to use `at - 2` in `edges_correct`.  Since `num` at position `at` is the size of the network fed into `simulate` at time `at + 1`, the expected relationship of edges coefficients is tested at the end of this script, up to some small numerical tolerance.

[code]

[2022-09-21 16:53] ThomasKraft opened #779 "interval setting in tergm control parameters"
I am having some difficulty understanding the various control parameters for `control.simulate.formula.tergm` after reading through the help files. The `MCMC.burnin` min and max parameters are straightforward, but in particular I am curious with the limited number of arguments whether there is an equivalent to `MCMC.interval` as specified for `control.simulate.formula.ergm` to change the number of

[2022-09-22 17:26] chad-klumb commented on #779
The equivalent of `MCMC.interval` is the combination of the `MCMC.burnin.*` arguments.  If you simply want a specific number of proposals per time step, set both `MCMC.burnin.min` and `MCMC.burnin.max` to half of this value.

The tools we have for dealing with inefficiencies in `tergm` MCMC are the `discordance_fraction` proposal argument (passed as `MCMC.prop.args = list(discordance_fraction = [d

[2022-09-22 19:16] ThomasKraft commented on #779
Thank you these explanations are very helpful and I will try them out! If there is good further documentation on these that I have missed elsewhere please let me know.

[2022-09-22 19:16] #779 closed

[2022-09-28 07:50] AdrienLeGuillou commented on #750
It is now resolved on `lintr` by https://github.com/r-lib/lintr/pull/1548 and the next release (>3.0.1) should contain it.

[2022-09-28 13:50] smjenness opened #780 "Fix error message for tergmLite/resimulate.network collision"
[code]
Produces:
[code]

[2022-09-28 15:33] smjenness opened #782 "Unit tests -- duration 1 update_dissolution tests -- failing due to warnings"
This unit test:

[code]

Now generates a series of warnings with the current CRAN versions of the statnet packages.

For example, this section:

[code]

yields:

[code]

Interestingly, this yields warnings when I run the tests with `devtools::test()` but not when I run `R CMD Check`.

[2022-09-28 15:34] smjenness commented on #782
It looks like this may be due to a recent update to `statnet.common::apend_rhs.formula`? @krivit any ideas?

[2022-09-28 20:01] #780 closed

[2022-09-29 07:11] AdrienLeGuillou commented on #750
yes, I suscribed to the release notification of `lintr` not to miss it

[2022-10-01 15:05] #752 closed

[2022-10-04 08:10] AdrienLeGuillou opened #785 "adding `Rglpk` to import"
the Rglpk package is used by `netest` to estimate the networks. It's a super small package (2kb) and the underlying GLPK library is a 3Mb library.

It could be worthwhile to add it to imports to make sure it's always available to the user.

[2022-10-04 12:46] smjenness commented on #785
This is used directly by the `ergm` package. @krivit is there a reason that `Rglpk` is a `Suggest` and not `Import` in `ergm?  Currently, it throws a warning if the package is not installed and another solver is used.

[2022-10-11 10:16] #782 closed

[2022-11-02 12:38] Nimesh-Patel opened #789 "line 373 here: EpiModel/saveout.R throws error when using nsims > 1 (2 or more) #Error in names(out[[el.name]]) <- simnames : 'names' attribute [2] must be the same length as the vector [1]"
Hi,
When I use EpiModelHIV library the class param_msm,control_msm,init_msm, and passed to EpiModel function netsim.
When control_msm(simno = 1,nsteps = 10, nsims=1, ncores=2)
sim <- netsim(est, params, inits, controls)
This works fine!!!
if I CHANGED nsims=2 (or more) ---> control_msm(simno = 1,nsteps = 10, nsims=2, ncores=2)
It throws the error
"
#Error in names(out[[el.name]]) <- simnames : 'na

[2022-11-02 15:08] smjenness commented on #789
@Nimesh-Patel : could you provide a listing of all the package versions you are using. After loading `EpiModelHIV`, run: `sessioninfo::session_info()` and paste the response below.

[2022-11-02 16:35] Nimesh-Patel commented on #789
Thank You @smjenness,
The same program works fine when I use the EpiModel version 2.2.0, The issues started when I updated from version, 2.2.0 to 2.3.1.
The saveout.net file has new addition on newer version:

if (!is.null(dat$control$save.other)) {
      for (i in seq_along(dat$control$save.other)) {
        el.name <- dat$control$save.other[i]
        names(out[[el.name]]) <- simnames
      }

T

[2022-11-03 09:34] AdrienLeGuillou commented on #789
Hi @Nimesh-Patel, could you paste a minimal example of the failing code so I can reproduce it on my machine?

[2022-11-03 11:11] Nimesh-Patel commented on #789
[network_model_troubleshooting.zip](https://github.com/EpiModel/EpiModel/files/9927745/network_model_troubleshooting.zip)
Thank you Adrien, Attaching zip file of the simple code. This code works fine with EpiModel version 2.2.0 and fails on version 2.3.1.

[2022-11-03 14:19] Nimesh-Patel commented on #789
Excellent, Thank you so much Adrien!!!
I appreciate your help, after implementing the code, Its working fine with the newer version!!!
Please close this ticket! Thank you again for the quick response time and finding the error.

Nimesh

[2022-11-03 14:20] AdrienLeGuillou opened #790 "prevent crashes on `saveout.net` if some elements do no exist"
related to #789

[2022-11-03 14:21] #789 closed

[2022-11-15 11:50] Pie923 opened #793 "Error message when runing netsim after Epimodel v2.3.1"
Hi team, hope you are doing well. I recently rerun my previous working simulation codes but unfortunately found they are not working now. I am not sure if this is because of recent updates of Epimodel and dependent packages. I have already tried to update R/Epimodel but I still got error message: Error in while (get_current_timestep(dat) < get_control(dat, "nsteps")) { :
  argument is of length ze

[2022-11-16 16:03] AdrienLeGuillou commented on #793
Hi @Pie923,

[here in your new init module](https://github.com/Pie923/Epimodel/blob/main/Epimodel_module_v1.R#L26-L33) you should replace this code with `dat <- create_dat_object(param, init, control)` this new QoL function will initialize the `dat` object for you.
Espacially in this case it initialize the `_timestep` variable that is used in `get_current_timestep`.

Tell me if that solves the who

[2022-11-16 16:05] AdrienLeGuillou commented on #790
fixed by #791

[2022-11-16 16:05] #790 closed

[2022-11-16 16:13] AdrienLeGuillou commented on #670
Warning, this can lead to issues when the argument is used to subset elements in the function. See https://github.com/EpiModel/EpiModel/pull/765/files#r959770128

[2022-11-16 16:17] AdrienLeGuillou commented on #450
Is this still planned or should we close this issue?

[2022-11-16 16:41] AdrienLeGuillou opened #795 "make a generic `get_discordant_edgelist` function"
This function would be a more general version of `discord_edgelist`. It would simplify models with multiple diseases as well as standardize the format of the discordant edgelist. (making it related to https://github.com/EpiModel/EpiModelHIV-p/issues/129)

I envision a function signature like:

[code]

where:
- `status.attr`: the name of the attribute to use `status`, `gc.status`, etc
- `head.statu

[2022-11-16 20:38] smjenness commented on #450
Nope, we can close.

[2022-11-16 20:39] smjenness commented on #412
Yup, closing...

[2022-11-16 20:39] #412 closed

[2022-11-21 13:35] Pie923 commented on #793
Hi @AdrienLeGuillou , thank you for your help!  Yes after replacing this line the previous error message is solved. However, I got another error message running these modules:  https://github.com/Pie923/Epimodel/blob/main/Epimodel_module_v1.R . My error message is : Error in if (dat$nwparam[[network]]$coef.diss$diss.model.type == "edgesonly") { :
  argument is of length zero

Could you please help

[2022-11-21 15:05] AdrienLeGuillou commented on #793
The error seems to be with the `coef.diss` arguments to the networks estimations, the object created by `netest`.

Can you make me a minimal reproducible example that I could try on my machine?

[2022-11-21 15:27] smjenness commented on #793
@Pie923 : I would suspect that the cause is an inconsistency between versions. With EpiModel and statnet packages (ergm/tergm/network/networkDynamic) updated to their latest CRAN versions, try re-estimating the network models first and then running netsim. Thanks!

[2022-11-22 11:08] Pie923 commented on #793
Hi @AdrienLeGuillou  Many thanks for your quick reply! I have checked all my packages are up-to-date but I still got this error. This is my [example code](https://github.com/Pie923/Epimodel/blob/main/example.R).  I didn't estimate a network model because I have an observed network. Unfortunately, my network data can't be shared but this error is reproducible if using data from the package networkD

[2022-11-22 12:49] AdrienLeGuillou opened #796 "`saveout.net` requires specific elements in `dat$nwparam`"
related to #793

at this line https://github.com/EpiModel/EpiModel/blob/main/R/saveout.R#L236 `saveout.net` assumes that `dat$nwparam[[network]]$coef.diss$diss.model.type` is not null. Is it something we want to enforce for all model or should we skip this part if it is `NULL`?

[2022-11-22 12:49] AdrienLeGuillou commented on #793
I found the error, it is related to mandatory `nwparam` elements.
I made [this pull request](https://github.com/Pie923/Epimodel/pull/1) to your project that fixes things.

@smjenness I opened issue #796 to discuss whether it is something that should be changed in the defaults

[2022-11-22 13:41] Pie923 commented on #793
Hi @AdrienLeGuillou  Thanks! However, after adding these 2 lines I got another error message: Error in dat$nwparam[[network]]$coef.diss$diss.model.type :
  $ operator is invalid for atomic vectors    Any idea on how to fix this?

[2022-11-22 13:50] AdrienLeGuillou commented on #793
my bad, I updated the PR so it works.

(most of the changes are just automatic cleanup from my editor, like removing trailing whitespaces and such)

[2022-11-22 13:51] AdrienLeGuillou commented on #793
the main change is on line 14

[2022-11-22 14:17] Pie923 commented on #793
Thank you! This is fixed now so I am closing this issue. Have a nice day!

[2022-11-22 14:17] #793 closed

[2022-11-22 19:35] smjenness commented on #796
For backwards compatibility, we can skip this if NULL.

[2022-11-23 13:59] #796 closed